/* Reset bases */

@font-face {
    font-family: 'Lumberjack Rough';
    src: local('Lumberjack Rough'), url('./fonts/Lumberjack Rough.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Corki-Regular';
    src: local('Corki-Regular'), url('./fonts/Corki-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* All sheets */
.window-content .cosmoboys-wrapper .cosmoboys-row,
.message-content .cosmoboys-wrapper .cosmoboys-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.window-content .cosmoboys-wrapper .cosmoboys-row .cosmoboys-column,
.message-content .cosmoboys-wrapper .cosmoboys-row .cosmoboys-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#chat .chat-log .chat-message,
.cosmoboys.actor.sheet {
    background: url('../assets/cover.png') no-repeat; 
    background-size: 100% 100%; 
}

#chat .chat-log .chat-message header .message-sender,
#chat .chat-log .chat-message header .whisper-to {
    display: none;
}
#chat .chat-log .chat-message {
    padding: 29px
}

/* Story Roll */
.cosmoboys-chats {
    font-family: 'Corki-Regular';
}

.story-line-title {
    font-family: 'Lumberjack Rough';
}

.cosmoboys-chats .story-title {
    font-family: 'Lumberjack Rough';
    text-align: center;
    font-size: var(--font-size-18);
}

/* Dices Roll */

/* Actor Sheet */
.cosmoboys-wrapper {
    color: black;
    padding: 10px 20px 20px 30px;
}

.cosmoboys-sides-right img {
    height: 250px;
}