/* Reset bases */

:root { 
  --cosmoboys-color-brown: #573425;
  --cosmoboys-color-gray: #CCC8B4;
}

@font-face {
    font-family: 'Lumberjack Rough';
    src: local('Lumberjack Rough'), url('./fonts/Lumberjack Rough.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Corki-Regular';
    src: local('Corki-Regular'), url('./fonts/Corki-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* All sheets */
.window-content {
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;

}

.window-content .cosmoboys-wrapper .cosmoboys-row,
.message-content .cosmoboys-wrapper .cosmoboys-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.window-content .cosmoboys-wrapper .cosmoboys-row .cosmoboys-column,
.message-content .cosmoboys-wrapper .cosmoboys-row .cosmoboys-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#chat .chat-log .chat-message,
form.cosmoboys .window-content {
    background: url('../assets/cover-re.png') no-repeat; 
    background-size: 100% 100%; 
}

#chat .chat-log .chat-message header .message-sender,
#chat .chat-log .chat-message header .whisper-to {
    display: none;
}
#chat .chat-log .chat-message {
    padding: 15px 19px;
}

/* Story Roll */
.cosmoboys-chats {
    font-family: 'Corki-Regular';
}

.story-line-title {
    font-family: 'Lumberjack Rough';
}

.cosmoboys-chats .story-title {
    font-family: 'Lumberjack Rough';
    text-align: center;
    font-size: var(--font-size-18);
}

/* Nav tabs */

.cosmoboys nav.tabs {
    border:0;
    color: #000;
    font-family: 'Corki-Regular';
}

.cosmoboys nav.tabs [data-tab],
.cosmoboys nav.tabs [data-tab].active {
    color: #000;
}

.cosmoboys nav.tabs [data-tab].active, 
.cosmoboys nav.tabs [data-tab]:hover {
    text-shadow: 0 0 10px var(--cosmoboys-color-brown);
    font-weight: bold;
}

/* Dices Roll */
.cosmoboys-rolls .title {
    font-size: var(--font-size-16);
    font-family: 'Corki-Regular';
    text-align: center;
}

.cosmoboys-rolls-total {
    text-align: center;
    font-family: 'Corki-Regular';
    font-size: var(--font-size-24);
}

.cosmoboys-rolls-number {
    text-align: center;
    font-family: 'Corki-Regular';
    font-size: var(--font-size-14);
}

.cosmoboys-rolls-result {
    text-align: center;
    font-size: var(--font-size-16);
    font-family: 'Lumberjack Rough';
}

.cosmoboys-rolls-extends {
    text-align: center;
    font-size: var(--font-size-24);
    font-family: 'Corki-Regular';
}

.cosmoboys-rolls-expand {
    margin: 0;
    padding: 0;
    font-family: 'Corki-Regular';
    font-size: var(--font-size-14);
}
.cosmoboys-rolls-expand th,
.cosmoboys-rolls-expand td:last-child {
    text-align: center;
}

/* Actor Sheet */
.cosmoboys-wrapper {
    color: black;
    padding: 15px 15px 15px 15px;
    font-family: 'Lumberjack Rough';
}

.cosmoboys-sides-right img {
    height: 260px;
    border-radius: 3%;
    box-shadow: 0 0 4px 0px #573425;
}

.cosmoboys-wrapper input[type=text] {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #000;

}

.cosmoboys-wrapper input[type=text]:focus {
    outline: none
}

.cosmoboys-wrapper .brown-left-bottom input {
      -webkit-box-shadow: -5px 5px 4px -1px rgba(87, 52, 37, 0.47);
    -moz-box-shadow: -5px 5px 4px -1px rgba(87, 52, 37, 0.47);
    box-shadow: -5px 5px 4px -1px rgba(87, 52, 37, 0.47);
}

.cosmoboys-wrapper .margin-5px {
    margin-bottom: 5px;
}

.cosmoboys-wrapper .margin-10px {
    margin-bottom: 10px;
}

.cosmoboys-wrapper .cosmoboys-wounds-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.cosmoboys-wrapper .cosmoboys-wounds-list li {
    width: 40px;
    height: 37px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    cursor: pointer;
}

.cosmoboys-wrapper .cosmoboys-rolls {
    margin-top: 10px;
    font-size: var(--font-size-28);
    text-transform: uppercase;
}

.cosmoboys-wrapper .cosmoboys-rolls .cosmoboys-roll-cosmo,
.cosmoboys-wrapper .cosmoboys-rolls .cosmoboys-roll-boy {
    cursor: pointer;
    font-family: 'Corki-Regular';
}

.cosmoboys-wrapper .cosmoboys-rolls .cosmoboys-roll-cosmo {
    text-align: right;
}

.cosmoboys-wrapper .cosmoboys-numbers-list {
    font-family: 'Corki-Regular';
    font-size: var(--font-size-28);

    margin: 0;
    padding: 0;
    list-style-type: none;

    display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #000;
}

.cosmoboys-wrapper .cosmoboys-numbers-list li {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    cursor: pointer;
    text-align: center;
    color: var(--cosmoboys-color-gray);
    padding-top: 28px;
    border-right: 1px solid #000;
    margin: 0;
}

.cosmoboys-wrapper .cosmoboys-numbers-list li:last-child {
    border: 0;
}

.cosmoboys-wrapper .cosmoboys-numbers-bottom {
    text-align: center;
}

.cosmoboys-wrapper .cosmoboys-numbers-list li.active {
    color: #000;
    font-weight: bold;
    font-size: var(--font-size-48);
    padding-top: 16px;
    padding-bottom: 9px;
}

.cosmoboys-wrapper .cosmoboys-items-title {
    font-size: var(--font-size-24);
    font-family: 'Corki-Regular';
}

.cosmoboys-items-list input {
    -webkit-box-shadow: -5px 5px 4px -1px rgba(87, 52, 37, 0.47);
    -moz-box-shadow: -5px 5px 4px -1px rgba(87, 52, 37, 0.47);
    box-shadow: -5px 5px 4px -1px rgba(87, 52, 37, 0.47);
}

.cosmoboys-roll-help {
    font-size: var(--font-size-14);
    padding-top: 6px;
}

.cosmoboys-rolls-genchar {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-12);
    font-family: 'Lumberjack Rough';
}

.cosmoboys-wounds-gen {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.cosmoboys-wounds-gen li {
    width: 5px;
    height: 17px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/* all */

body.system-cosmoboys {
    background-image: url('../assets/back.jpg');
}

body.system-cosmoboys::before {
    content: url('../assets/logo-c.png');
    position: absolute;
    top: 2%;
    left: 39%;
}